/* all pages styles */

body {
    background-color: cornsilk;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

button {
    background-color: dodgerblue;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

#timer_container { /* styles the timer container */
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

/* home page styles */

#page_content {
    width: 70%;
    margin: auto;
}

#page_content h1 {
    font-size: 3em;
}

#page_content p {
    font-size: 1.5em;
    width: 60%;
    margin: 1em auto;
}

#startBtn { /* styles the start button */
    background-color: mediumseagreen;
}

#startBtn:hover {
    background-color: lightgreen;
}

/* quiz page styles */

#timer { /* adds margin to the left of the seconds on the timer */
    margin-left: 6px;
}

#questions { /* styles the question container */
    width: 70%;
    margin: 1em auto;
}

#answer_btns_container { /* styles the answer buttons container */
    display: flex;
    flex-direction: column;
}

.btn_container { /* styles the individual answer button containers */
    display: flex;
    flex-direction: row;
    margin: 1em auto;
}

.answerBtn { /* styles the answer buttons */
    background-color: hotpink;
    width: 100px;
    margin-right: 1em;
}

.answerBtn:hover {
    background-color: lightpink;
}

.firstBtnCorrect,
.secBtnCorrect,
.thirdBtnCorrect,
.fourthBtnCorrect { /* styles the green check when an answer is correct */
    color: springgreen;
    display: none;
    margin: auto;
    font-size: 2em;
}

.firstBtnWrong,
.secBtnWrong,
.thirdBtnWrong,
.fourthBtnWrong { /* styles the red x when an answer is incorrect */
    color: crimson;
    display: none;
    margin: auto;
    font-size: 2em;
}

/* quiz finished page styles */

#quiz_finished_container {
    text-align: center;
    margin-top: 4em;
}

/* high scores page styles */

#highScoresContainer h1 {
    font-size: 3em;
}

#highScoresContainer h2 {
    font-size: 2em;
}